<script lang="ts">
  import { currentTime, windowObject } from "$lib/tidy/stores/app.store";
  import { formatTime } from "$lib/tidy/utils/utils";
  import Session from "../session/Session.svelte";
  import BigTime from "./BigTime.svelte";
</script>

<div class="w-full h-full flex">
  <Session />
  <BigTime />
</div>
