<script lang="ts">
  import Check from "$lib/tidy/icons/Check.svelte";
  import { createEventDispatcher } from "svelte";
  import TaskTags from "./TaskTags.svelte";
  import Cross from "$lib/tidy/icons/Cross.svelte";
  import Add from "$lib/tidy/icons/Add.svelte";
  import TaskText from "./TaskText.svelte";
  let label: string = "";
  let tagIds: string[] = [];
  let taskTextElement: any;
  export let isFromSessionPage: boolean = false;
  const dispatch = createEventDispatcher();
  function save() {
    dispatch("new", { label, tags: tagIds });
    taskTextElement.reset();
  }
  function reset() {
    taskTextElement.reset();
  }
  function onRemoveTag(event: CustomEvent<string>) {
    tagIds = tagIds.filter((x) => x !== event.detail);
  }
</script>

<div class="relative flex w-full">
  <div class="gap-2 flex flex-col grow">
    {#if tagIds && tagIds.length > 0}
      <TaskTags {tagIds} on:remove={onRemoveTag} />
    {/if}
    <div class="flex gap-2">
      {#if !isFromSessionPage}
        <div class="flex justify-center items-center">
          <Check isChecked={false} />
        </div>
      {/if}
      <TaskText
        bind:this={taskTextElement}
        bind:label
        bind:tagIds
        on:save={save}
      />
      <!-- <TextInputStyle
        on:keyup={handleKeyDown}
        bind:value={label}
        placeholder={isFromSessionPage ? "Focusing on..." : "Add a task"}
        style={TextInputStyle.PLAIN}
        size={Size.md}
      /> -->
    </div>
  </div>
  <div class=" flex justify-end items-center">
    {#if label || tagIds.length > 0}
      <div class="flex gap-2">
        {#if label}
          <button on:click={save}><Add /></button>
        {/if}
        <button on:click={reset}><Cross /></button>
      </div>
    {/if}
  </div>
</div>
