<script lang="ts">
  import CustomColorElement from "$lib/tidy/elements/CustomColorElement.svelte";
  import type { Tag } from "$lib/local/types/tag.type";
  import { TagPersistance } from "$lib/local/stores/tag.persistance";
  import Cross from "$lib/tidy/icons/Cross.svelte";
  import { createEventDispatcher } from "svelte";
  export let tagIds: string[];
  export let isEditable: boolean = true;
  let tags: Tag[] = [];
  let hoveredTag: string = "";
  const dispatch = createEventDispatcher();
  const tagPersistance = new TagPersistance();
  $: if (tagIds && tagIds.length > 0)
    tags = tagPersistance.retrieveTags(tagIds) ?? [];
</script>

<div class="flex gap-2">
  {#each tags as tag (tag.id)}
    <CustomColorElement
      on:mouseenter={() => {
        hoveredTag = tag.id;
      }}
      on:mouseleave={() => {
        hoveredTag = "";
      }}
      isOutline={true}
      classList="py-0.5 px-2 rounded-md w-max text-b3"
      hue={tag.hue}
    >
      <div class="flex gap-2 items-center">
        {tag.label}
        {#if hoveredTag === tag.id && isEditable}
          <button
            on:click={() => {
              dispatch("remove", tag.id);
            }}>x</button
          >
        {/if}
      </div>
    </CustomColorElement>
  {/each}
</div>
