<script lang="ts">
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  import { TextInputStyle } from "$lib/tidy/types/textinput.enum";
  import { createEventDispatcher, onMount } from "svelte";
  import type { Item } from "$lib/local/types/item.type";
  import SearchResultItem from "./SearchResultItem.svelte";
  import { Persistance } from "$lib/tidy/stores/persistance";
  import { ItemType } from "$lib/tidy/types/item.enum";
  import type { Tag } from "$lib/local/types/tag.type";
  import Button from "$lib/tidy/elements/Button.svelte";
  import Element from "$lib/tidy/elements/Element.svelte";
  export let label: string = "";
  export let tagIds: string[] = [];
  let searchResults: Item[];
  let selectedIndex: number = 0;
  let isSearchingTags: boolean = false;
  let previousValue: string;
  let currentValue: string;
  export let isFromSessionPage: boolean = false;
  const dispatch = createEventDispatcher();
  const persistance = new Persistance();
  onMount(() => {
    //currentValue = label;
  });
  export function reset() {
    resetSearch();
    label = "";
    tagIds = [];
  }
  function save() {
    dispatch("save", { label, tags: tagIds });
  }
  function handleKeyDown(event: any) {
    if (event.key === "Escape") {
      resetSearch();
    } else if (event.key === "ArrowDown") {
      selectedIndex = Math.min(selectedIndex + 1, searchResults.length - 1);
    } else if (event.key === "ArrowUp") {
      selectedIndex = Math.max(selectedIndex - 1, -1);
    } else if (event.key === "Backspace") {
      previousValue = currentValue;
      currentValue = (event.target as HTMLInputElement).value;
      if (previousValue?.length > currentValue.length) {
        const deletedChar = previousValue.charAt(previousValue.length - 1);
        if (deletedChar === "#") {
          isSearchingTags = false;
        }
      }
      search();
    } else if (event.key === "Enter" && label) {
      if (searchResults && searchResults.length > 0) {
        onSearchResultClicked(searchResults[selectedIndex]);
        dispatch("update", { label, tags: tagIds });
      } else {
        save();
      }
    } else {
      currentValue = (event.target as HTMLInputElement).value;
      dispatch("update", { label, tags: tagIds });
      search();
    }
  }
  function search() {
    selectedIndex = 0;
    if (!label) {
      searchResults = [];
      return;
    }
    let itemType = ItemType.Tag;
    let query = label;
    if (isSearchingTags) {
      query = label.split("#")[1];
    }
    searchResults = persistance.search(query, itemType);
    searchResults = searchResults.filter((item) => {
      return !tagIds.includes(item.id);
    });
  }
  function onSearchResultClicked(item: Item) {
    if (item) {
      tagIds = [...tagIds, item.id];
    }
    resetSearch();
    if (isSearchingTags) {
      label = label.split("#")[0];
      isSearchingTags = false;
    } else {
      label = "";
    }
  }
  function resetSearch() {
    searchResults = [];
    selectedIndex = 0;
  }
  function handleInput(event: any) {
    if (event.data === "#") {
      isSearchingTags = true;
    }
  }
</script>

<div class="relative flex w-full">
  <TextInput
    on:keyup={handleKeyDown}
    on:keydown
    on:focus
    on:blur
    on:input={handleInput}
    bind:value={label}
    placeholder={isFromSessionPage ? "Focusing on..." : "Add a task"}
    style={TextInputStyle.PLAIN}
    size={Size.md}
  />
  {#if searchResults && searchResults.length > 0}
    <div
      class="search-results bg-bgs3 h-max max-h-60 overflow-auto rounded-md flex flex-col gap-1 items-start"
    >
      {#each searchResults as item, index}
        <SearchResultItem
          {item}
          isActive={selectedIndex === index}
          on:click={() => {
            onSearchResultClicked(item);
          }}
        />
      {/each}
      <Element
        classList="w-full rounded-b-md py-2 text-center mt-10"
        parentBackgroundIndex={2}
        on:click={() => {
          resetSearch();
        }}>close</Element
      >
    </div>
  {/if}
</div>

<style>
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: none;
    z-index: 10;
  }
</style>
