<script lang="ts">
  import { onMount } from "svelte";
  import "../app.css";
  import { sessionStore } from "$lib/local/stores/session.store";
  import BaseLayer from "$lib/tidy/layout/BaseLayer.svelte";
  import { appStore } from "$lib/tidy/stores/app.store";
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import LocalBaseLayer from "$lib/local/layout/LocalBaseLayer.svelte";
  import { TimerMode } from "$lib/local/types/timerMode.enum";
  import LocalizedPowerPanel from "$lib/local/layout/LocalizedPowerPanel.svelte";

  onMount(() => {
    bootup();
    return () => {
      sessionStore.clearIntervals();
      window.removeEventListener("visibilitychange", handleVisibilityChange);
    };
  });

  function bootup() {
    if ($userLocalPreferences.timerMode == undefined) {
      $userLocalPreferences.timerMode = TimerMode.MINIMAL;
    }
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/worker.js");
    }
    window.addEventListener("visibilitychange", handleVisibilityChange);
  }
  async function handleVisibilityChange() {
    if (document.hidden) {
      const registration = await navigator.serviceWorker.ready;
      if ($sessionStore.scheduledNotifications.length > 0) {
        registration.active?.postMessage({
          type: "SCHEDULE_NOTIFICATIONS",
          notifications: $sessionStore.scheduledNotifications,
        });
      }
    } else {
      sessionStore.clearScheduledNotifications();
      navigator.serviceWorker.controller?.postMessage({
        type: "CLEAR_NOTIFICATIONS",
      });
    }
  }
</script>

<div class="text-base text-fgs1 bg-bgs1 relative {$appStore.tailwindTheme}">
  <BaseLayer>
    <LocalBaseLayer>
      <LocalizedPowerPanel />
      <div class="flex flex-col overflow-auto scrollstyle h-full w-full">
        <slot />
      </div>
    </LocalBaseLayer>
  </BaseLayer>
</div>
