<script lang="ts">
  import { sessionStore } from "$lib/local/stores/session.store";
  import { SessionState } from "$lib/local/types/sessionState.enum";
  import { SessionType } from "$lib/local/types/sessionType.enum";
  import IntervalBarItemView from "./IntervalBarItemView.svelte";
  import { formatTime } from "$lib/tidy/utils/utils";

  import { currentTime } from "$lib/tidy/stores/app.store";

  let totalDuration: number;
  $: totalDuration = $sessionStore.bars?.reduce(
    (sum, item) => sum + item.duration,
    0
  );
</script>

<div class="flex flex-row gap-2 items-end w-full h-20">
  <div class="text-fgs3 text-b2 py-0.5">
    {$sessionStore.state == SessionState.NOT_STARTED &&
    $sessionStore.bars.length > 0 &&
    $currentTime
      ? formatTime($currentTime)
      : $sessionStore.bars.length > 0 && $sessionStore.start
      ? formatTime($sessionStore.start)
      : ""}
  </div>
  <div class="w-full py-0.5">
    <div class="flex flex-row items-end gap-3 w-full">
      {#each $sessionStore.bars as bar}
        <div style="width: {(bar.duration / totalDuration) * 100}%">
          <IntervalBarItemView progress={bar.progress} type={bar.type} />
        </div>
      {/each}
    </div>
  </div>
  {#if $sessionStore.type === SessionType.COUNTUP}
    <div class="text-fgs3 text-b2 bg-bgs2 rounded-md px-1 py-0.5">
      {$currentTime ? formatTime($currentTime) : ""}
    </div>
  {:else}
    <div class="text-fgs3 text-b2 py-0.5">
      {$sessionStore.bars.length > 0 && $sessionStore.end
        ? formatTime($sessionStore.end)
        : ""}
    </div>
  {/if}
</div>
