<script lang="ts">
  import { Control } from "$lib/local/types/control.enum";
  import { SessionState } from "$lib/local/types/sessionState.enum";
  import ControlItemView from "./ControlItemView.svelte";
  import { sessionStore } from "$lib/local/stores/session.store";
  import { pointronEvents } from "$lib/local/stores/local.store";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import { Size } from "$lib/tidy/types/size.enum";
  export let color: string | undefined = undefined;
  export let controlItemSize: Size = Size.md;
  function controlClickHandler(event: any) {
    let control = event.detail.control;
    if (control === Control.START) {
      sessionStore.startSession();
    } else if (control === Control.BREAK) {
      sessionStore.startBreak();
    } else if (control === Control.FINISH) {
      if ($sessionStore.state === SessionState.TIME_IS_UP) {
        sessionStore.finishSession();
      } else {
        pointronEvents.notify(PointronEventEnum.FINISH_CONFIRMATION_POP, true);
      }
    } else if (control === Control.RESUME) {
      sessionStore.resumeSession();
    } else if (control === Control.EXTEND) {
      sessionStore.extendSession();
    } else {
      $sessionStore.state = SessionState.NOT_STARTED;
    }
  }
</script>

<div class="flex flex-row {controlItemSize === Size.md ? 'gap-10' : 'gap-4'} ">
  {#if $sessionStore.state === SessionState.NOT_STARTED}
    <ControlItemView
      control={Control.START}
      {color}
      isProminent={true}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
  {:else if $sessionStore.state === SessionState.INTERVAL_RUNNING}
    <ControlItemView
      control={Control.BREAK}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
    <ControlItemView
      control={Control.FINISH}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
  {:else if $sessionStore.state === SessionState.INTERVAL_COMPLETED}
    <ControlItemView
      control={Control.RESUME}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
    <ControlItemView
      control={Control.BREAK}
      {color}
      isProminent={true}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
    <ControlItemView
      control={Control.FINISH}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
  {:else if $sessionStore.state === SessionState.BREAK_RUNNING}
    <ControlItemView
      control={Control.RESUME}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
    <ControlItemView
      control={Control.FINISH}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
  {:else if $sessionStore.state === SessionState.BREAK_COMPLETED}
    <ControlItemView
      control={Control.RESUME}
      {color}
      isProminent={true}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
    <ControlItemView
      control={Control.FINISH}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
  {:else if $sessionStore.state === SessionState.TIME_IS_UP}
    <ControlItemView
      control={Control.EXTEND}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
    <ControlItemView
      control={Control.FINISH}
      {color}
      isProminent={true}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
  {:else if $sessionStore.state === SessionState.TIME_IS_RUNNING_OUT}
    <ControlItemView
      control={Control.EXTEND}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
    <ControlItemView
      control={Control.BREAK}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
    <ControlItemView
      control={Control.FINISH}
      {color}
      on:click={controlClickHandler}
      size={controlItemSize}
    />
  {/if}
</div>
