<script lang="ts">
  import type { TimePeriod } from "$lib/local/types/session.type";
  import type { UserDate } from "$lib/tidy/types/userDate.type";

  import {
    checkIsToday,
    compareUserDay,
    formatUserDate,
    generateUID,
    getCurrentUserDate,
    getOneDayEarlier,
  } from "$lib/tidy/utils/utils";
  import { onMount } from "svelte";
  import { sessionChangeEvent } from "$lib/local/stores/session.store";
  import TimelineDayView from "./TimelineDayView.svelte";
  import { pointronEvents } from "$lib/local/stores/local.store";
  import type { PointronEvent } from "$lib/local/types/pointronEvent.type";
  import { PointronEventEnum } from "$lib/local/types/pointronEvent.enum";
  import { userPreferences } from "$lib/tidy/stores/app.store";
  import { SessionPersistance } from "$lib/local/stores/session.persistance";
  import { aggregateFocusFromSessions } from "$lib/local/utils/local.utils";
  let days: TimePeriod[] = [];
  let renderedDays: UserDate[] = [];
  let today: any;
  let isEndReached: boolean = false;
  let isUserStartedToday: boolean = false;
  let usersFirstDay: UserDate | undefined = undefined;
  let zeroSessionsStartDay: UserDate | undefined = undefined;
  let zeroSessionsEndDay: UserDate | undefined = undefined;
  let loadMoreTrigger: Element;
  let observer: IntersectionObserver;
  let sessionPersistance: SessionPersistance = new SessionPersistance();
  onMount(() => {
    //refreshTimeline();
    sessionChangeEvent.subscribe(() => {
      refreshTimeline();
    });
    pointronEvents.subscribe((x: PointronEvent) => {
      if (x.event === PointronEventEnum.REFRESH_TIMELINE) {
        refreshTimeline();
      }
    });
    observer = new IntersectionObserver(
      ([entry]) => {
        if (entry.isIntersecting && !isEndReached) {
          loadMoreItems();
        }
      },
      { rootMargin: "0px", threshold: 0 }
    );
    observer.observe(loadMoreTrigger);
    return () => {
      observer.disconnect();
    };
  });
  function refreshTimeline() {
    let todayDate = getCurrentUserDate($userPreferences.dayStart);
    let sessions = new SessionPersistance().retrieveSessions(todayDate);
    let focus = aggregateFocusFromSessions(sessions ?? []);
    today = { sessions, focus, day: todayDate };
    days = [today];
    renderedDays = [todayDate];
    isEndReached = false;
    loadMoreItems(10);
  }
  function loadMoreItems(numberOfItems = 10) {
    let daysAddedInThisRefresh = 0;
    if (renderedDays.length == 0) {
      let newDayToBeAdded = days[days.length - 1].day;
      renderedDays.push(newDayToBeAdded);
    }
    for (let i = 0; i < numberOfItems; i++) {
      let newDayToBeAdded = getOneDayEarlier(
        renderedDays[renderedDays.length - 1]
      );
      renderedDays.push(newDayToBeAdded);
      let lastDaySessions =
        sessionPersistance.retrieveSessions(newDayToBeAdded);
      let sessions = lastDaySessions ?? [];
      if (sessions.length === 0) {
        usersFirstDay = sessionPersistance.retrieveFirstDay(
          $userPreferences.dayStart
        );
        if (usersFirstDay && checkIsToday(usersFirstDay)) {
          isUserStartedToday = true;
        } else if (!zeroSessionsStartDay) {
          zeroSessionsStartDay = newDayToBeAdded;
        } else {
          zeroSessionsEndDay = newDayToBeAdded;
        }
        if (
          !usersFirstDay ||
          compareUserDay(newDayToBeAdded, usersFirstDay) < 1
        ) {
          isEndReached = true;
          break;
        }
        continue;
      } else if (zeroSessionsStartDay) {
        days = [
          ...days,
          {
            day: newDayToBeAdded,
            focus: 0,
            sessions: [],
            isEmptyPeriod: true,
            startDate: zeroSessionsStartDay,
            endDate: zeroSessionsEndDay,
          },
        ];
        daysAddedInThisRefresh += 1;
        zeroSessionsStartDay = undefined;
        zeroSessionsEndDay = undefined;
      }
      if (sessions.length) {
        let focus = aggregateFocusFromSessions(sessions);
        days = [...days, { day: newDayToBeAdded, focus, sessions }];
        daysAddedInThisRefresh += 1;
      }
    }
    if (daysAddedInThisRefresh < 5 && !isEndReached) {
      loadMoreItems(10);
    }
  }
</script>

<div class="flex flex-col space-y-4">
  {#each days as day (generateUID())}
    <TimelineDayView {day} />
  {/each}
  <div bind:this={loadMoreTrigger} class="text-b2 opacity-50 text-center">
    {isUserStartedToday
      ? "This is your first day. Let's get it rolling."
      : isEndReached && usersFirstDay
      ? "You started on " + formatUserDate(usersFirstDay)
      : isEndReached
      ? "No more sessions..."
      : "Loading more..."}
  </div>
</div>
