<script lang="ts">
  import { onMount } from "svelte";
  import {
    sessionStore,
    todayFocusStore,
  } from "$lib/local/stores/session.store";
  import StreakView from "$lib/local/components/topBar/StreakView.svelte";
  import AgeTimer from "$lib/local/components/topBar/AgeTimer.svelte";
  import { userPreferences } from "$lib/tidy/stores/app.store";
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import { TimerMode } from "$lib/local/types/timerMode.enum";
  import PowerPanel from "$lib/tidy/components/powerPanel/PowerPanel.svelte";
  import SessionMiniPlayer from "../components/point/SessionMiniPlayer.svelte";

  onMount(() => {
    bootup();
    return () => {
      sessionStore.clearIntervals();
    };
  });

  function bootup() {
    if ($userLocalPreferences.timerMode == undefined) {
      $userLocalPreferences.timerMode = TimerMode.MINIMAL;
    }
  }
</script>

<PowerPanel>
  <div slot="header" class="flex flex-col gap-1 items-center">
    <div class="text-title">
      {$userPreferences.nickName}
    </div>
    {#if $userLocalPreferences.isEnableAgeCounter}
      <AgeTimer />
    {/if}
    <!-- todo: streak functionality during flow analytics -->
    <!-- {#if $userLocalPreferences.isEnableDailyTarget && $todayFocusStore.streak > -1}
      <StreakView />
    {/if} -->
  </div>
</PowerPanel>
