<script lang="ts">
  import Notifications from "$lib/local/layout/Notifications.svelte";
  import LocalPopupLayer from "$lib/local/layout/LocalPopupLayer.svelte";
  import LocalBackwardSupportLayer from "./LocalBackwardSupportLayer.svelte";
</script>

<slot />
<LocalPopupLayer />
<Notifications />
<LocalBackwardSupportLayer />
