<script lang="ts">
  import Popover from "$lib/tidy/components/Popover/Popover.svelte";
  import type { Preset } from "$lib/local/types/preset.type";
  import { Size } from "$lib/tidy/types/size.enum";
  import { generateUID } from "$lib/tidy/utils/utils";
  import PresetItemEditor from "./EditPresetView.svelte";
  import PresetSelectorItem from "./PresetSelectorItem.svelte";
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import Element from "$lib/tidy/elements/Element.svelte";
  let isShowIntervalEditor: boolean = false;
  let selectedPresetIndex: number = -1;
  let selectedPreset: Preset;
  function presetClickHandler(event: any) {
    selectedPreset = event.detail.preset;
    selectedPresetIndex = $userLocalPreferences.presets.indexOf(
      selectedPreset!
    );
    isShowIntervalEditor = true;
  }
  function closeEditorHandler() {
    isShowIntervalEditor = false;
  }
  function onAddNewClicked() {
    selectedPresetIndex = -1;
    selectedPreset = {
      id: generateUID(),
      rounds: 2,
      duration: 28,
      brek: 2,
    };
    isShowIntervalEditor = true;
  }
  function saveHandler() {
    if (!selectedPreset) return;
    if (selectedPresetIndex >= 0) {
      userLocalPreferences.updatePreset(selectedPreset);
    } else {
      userLocalPreferences.addPreset(selectedPreset);
    }
    closeEditorHandler();
  }
  function deleteHandler() {
    if (selectedPreset && selectedPreset.id)
      userLocalPreferences.removePreset(selectedPreset.id);
    closeEditorHandler();
  }
</script>

<div class="flex flex-row flex-wrap gap-2 w-full pb-2">
  {#each $userLocalPreferences.presets as preset, index}
    <div>
      <PresetSelectorItem
        {preset}
        isActive={selectedPresetIndex === index}
        on:click={presetClickHandler}
      />
    </div>
  {/each}
  <Element
    isActive={selectedPresetIndex === -1}
    classList=" rounded-md px-4 py-1"
    on:click={onAddNewClicked}>+ add new</Element
  >
</div>

<Popover
  size={Size.lg}
  bind:show={isShowIntervalEditor}
  primaryText="save"
  secondaryText={selectedPresetIndex != -1 ? "delete" : undefined}
  on:primary={saveHandler}
  on:secondary={deleteHandler}
>
  <PresetItemEditor bind:preset={selectedPreset} />
</Popover>
